body{
    background-color: rgb(241, 204, 255);
    margin: 48px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {

    width: fit-content;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    border: 10px solid #eee;
    padding: 8px;
    background-color: azure;
    
}

ul {
    font-size: 20px;
    /*width: fit-content;*/
    margin: 50px 80px;
    border: 5px double #6c3dc4;
    padding: 20px;
    background-color: azure;
}

li {
    margin-left: 40px;
}